# ======== SECRETS / ENVIRONMENT ========
.env
.env.*
!.env.example
firebase-service-account.json

# ======== OS ========
.DS_Store
Thumbs.db

# ======== IDE ========
.idea/
.vscode/
*.iml
*.iws
*.ipr
