.ActionsBarber{
    width: 100%;
    height: auto;
    margin-top: 0;
}

.ActionsBarberTitle{
    width: 100%;
    font-family: "Space Grotesk", sans-serif;
    color: white;
    height: auto;
    margin-bottom: 10px;
}

.ActionsBarberTitle h3 {
    color: #f2f2f2;
    font-size: 1.2rem;
}

.ActionsBarberContent{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 14px;
}

@media (max-width: 760px) {
    .ActionsBarberContent {
        flex-direction: column;
    }
}