.container{
    width: 49.5%;
    height: 220px;
    background: linear-gradient(180deg, #1c1c1c 0%, #161616 100%);
    border-radius: 14px;
    font-family: "Space Grotesk", sans-serif;
    border: #4a3535 1px solid;
}

.stockIcon{
    width: 20px;
    height: 20px;
    background-color: #ef4444;
    border-radius: 50%;
}

.stockCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
}

.stockCard h3{
    color: #f09a9a;
}

.stockNumber{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px;
}

.stockDetails{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: #b0a8a8;
}

.stockButton{
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    color: #f09a9a;
    height: 40px;
    border-radius: 10px;
    background-color: #2e2222;
    border: 1px solid #583838;
    cursor: pointer;
}

.stockButton:hover{
    background-color: #ef4444;
    color: white;
    transition: 0.3s;
}